.advantages__text-wrapper {
  margin: 0 18px;
  margin-bottom: 53px;
}

.advantages__important-text {
  .title-position;
  .important-text;
}

.advantages__text {
  .text-normalize;
  .text;
  color: @text-color;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__block-item {
  display: flex;
  flex-direction: column;
  background-color: @main-color;
  color: @contrast-color;
}

.advantages__item-wrapper {
  padding: 33px 18px 40px 18px;
  text-align: center;
}

.advantages__item {
  padding: 33px 18px 40px 18px;
  text-align: center;
  background-color: @backgrounds-color;

  &:not(:last-child) {
    border-bottom: solid 1px #d6d6d6;
  }
}

.advantages__title {
  .important-text;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__description {
  .text;
  margin: 0;
  margin-top: 17px;
}

.advantages__divider {
  .text;
}
