.control-input {
  border: none;
  background-color: @input-color;
  font-family: "PT Sans", sans-serif;
  color: @dark-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 16px;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &--area {
    resize: none;
  }
}
