.control-item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--radio {
    border-radius: 50%;
  }
}

.control-item__name {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  display: flex;
  align-items: center;
}


.control-item__mark {
  margin-right: 16px;
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: @input-color;
}
