.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: @dark-color;

  &:hover {
    .copyright__icon {
      fill: @main-color;
    }

    .copyright__text {
      color: @main-color;
    }
  }

  &:active {
    .copyright__icon {
      fill: #b3b3b3;
    }

    .copyright__text {
      color: #b3b3b3;
    }
  }
}

.copyright__text {
  .text;
  margin-right: 12px;
  color: @text-color;
}
