.filling-form {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.filling-form__control {
  margin: 0;
  padding: 0;
  border: none;
}

.filling-form__input-group {
  display: flex;
  flex-direction: column;
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;

  @media (min-width: @tablet-width) {
    flex: 1;
    justify-content: space-between;
  }
}

.filling-form__control-group {
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;

  @media (min-width: @tablet-width) {
    min-width: 100%;
  }
}

.filling-form__text-area {
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-width: 100%;
  }
}

.filling-form__text-input {
  min-width: 100%;
  box-sizing: border-box;
}

.filling-form__title {
  .important-text;
  text-align: center;
  padding: 0;
  margin: 0 auto 20px auto;
}

.filling-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filling-form__list--control {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.filling-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.filling-form__name {
  .text;
  margin-left: 16px;
}

.filling-form__input {
  display: block;
}

.filling-form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filling-form__button {
  padding: 16px;

  @media (min-width: @tablet-width) {
    flex: 1;
  }
}

.filling-form__legend {
  text-align: end;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: @text-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex: 1;
    align-self: center;
  }
}
