.filling-form {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.filling-form__control {
  margin: 0;
  padding: 0;
  border: none;
  margin-top: -40px;
}

.filling-form__input-group {
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;

  @media (min-width: @tablet-width) {
    flex: 1;
    border: none;
    padding: 8px 0;
    margin-bottom: 68px;

    &:first-child {
      padding-right: 28px;
      border-right: 1px solid @border-color;
    }

    &:nth-child(2) {
      padding-left: 28px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 28px 0;
    margin-bottom: 97px;

    &:first-child {
      padding-right: 49px;
    }

    &:nth-child(2) {
      padding-left: 49px;
    }
  }
}

.filling-form__control-group {
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;
  flex: 100%;
}

.filling-form__text-area {
  padding: 24px 0 39px 0;
  border-top: solid 1px @border-color;
  text-align: center;
  flex-grow: 1;
}

.filling-form__text-input {
  min-width: 100%;
  box-sizing: border-box;
  margin: 20px 0 60px 0;
}

.filling-form__title {
  .important-text;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  background-color: @contrast-color;
  min-width: 402px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;
  }
}

.filling-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filling-form__item {
  display: flex;
  flex-direction: column;
}

.filling-form__list--control {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.filling-form__item:not(:last-child) {
  margin-bottom: 16px;
}

.filling-form__name {
  .text;
  margin-left: 16px;
}

.filling-form__input {
  display: block;
}

.filling-form__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.filling-form__button {
  padding: 16px;

  @media (min-width: @tablet-width) {
    flex: 1;
  }
}

.filling-form__legend {
  text-align: end;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 21px;
  color: @text-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex: 1;
    align-self: center;
  }
}
