.hero {
  background-image: url("../img/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: @border-color;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-background@2x.jpg");
    background-size: auto 389px;
  }

  @media (min-width: @tablet-width) {
    background-size: 1200px auto;
  }

  .hero__wrapper {
    padding: 90px 0 28px 0;

    @media (min-width: @tablet-width) {
      padding: 75px 0 36px 0;
    }

    @media (min-width: @desktop-width) {
      padding: 76px 0 35px 0;
    }

    &--inner {
      padding: 52px 0 10px 0;

      @media (min-width: @tablet-width) {
        padding: 95px 0 71px 0;
      }

      @media (min-width: @desktop-width) {
        padding: 101px 0 63px 0;
      }
    }
  }
}

.hero::after {
  content: "";
  display: block;
  background-image: url("../img/hero-divider.svg");
  background-repeat: no-repeat;
  background-size: 100% bottom;
  background-position: center;
  height: 57px;
}

.hero__text {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 461px;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    height: auto;
  }
}

.hero--inner {
  .hero__text {
    @media (min-width: @tablet-width) {
      width: 457px;
      height: auto;
    }

    @media (min-width: @desktop-width) {
      width: 460px;
      height: auto;
    }
  }
}
