.hotel-search__wrapper {
  padding: 38px 18px 49px 18px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
}

.hotel-search__map {
  flex-grow: 1;
}

.hotel-search__important-text {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.hotel-search__text {
  .text;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.hotel-search__button {
  padding: 16px;
}

@media (min-width: @tablet-width) {
  .hotel-search__wrapper {
    padding: 38px 155px 49px 155px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search__wrapper {
    padding: 38px 371px 49px 371px;
  }
}
