.main-nav__wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  z-index: 1;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--close {
    display: none;
  }
}

.main-nav__item {
  background-color: @main-color;
  text-align: center;

  &:not(:first-child) {
    border-top: solid 1px darken(@contrast-color, 20%);
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba(1, 1, 1, 0.2);
  }
}

.main-nav__link {
  .important-text;
  display: block;
  margin: 0 auto;
  padding-top: 17px;
  padding-bottom: 12px;
  color: @contrast-color;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    position: static;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    background-color: transparent;

    &:not(:first-child) {
      border-top: none;
    }

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .main-nav__link {
    .text;
    padding: 18px 47px 17px 48px;
    color: @dark-color;
    font-weight: 700;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link {
    padding: 18px 91px 17px 91px;
  }
}
