.main-nav {
  min-width: 320px;
}

.main-nav__wrapper {
  position: absolute;
  min-width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-nav__list {

  list-style: none;
  margin: 0;
  padding: 0;

  &--close {
    display: none;
  }
}

.main-nav__item {
  display: flex;
  .important-text;
  color: @contrast-color;
  background-color: @main-color;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;

  &:not(:first-child) {
    border-top: solid 1px darken(@contrast-color, 20%);
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba(1, 1, 1, 0.2);
  }
}

.main-nav__link {
  display: block;
  margin: 0 auto;
  color: inherit;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-nav {
    min-width: @tablet-width;
  }

  .main-nav__item {
    .text;
    font-weight: 700;
    color: @dark-color;
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    min-width: @desktop-width;
  }
}
