.main-nav {
  min-width: 320px;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--close {
    display: none;
  }
}

.main-nav__item {
  .important-text;
  color: @contrast-color;
  background-color: @main-color;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;

  &:not(:first-child) {
    border-top: solid 1px darken(@contrast-color, 20%);
  }

  &:not(:last-child) {
    border-bottom: solid 1px rgba(1, 1, 1, 0.2);
  }
}

.main-nav__link {
  display: block;
  color: inherit;
  text-decoration: none;
}
