.media__wrapper {
  margin-bottom: 17px;
}

.media__text-wrapper {
  padding: 0 20px 25px 20px;
  border-bottom: solid 1px @border-color;

  @media (min-width: @tablet-width) {
    padding: 0 155px 25px 155px;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 371px 25px 371px;
    border-bottom: 0;
  }
}

.media__important-text {
  .title-position;
  .important-text;
}

.media__text {
  .text-normalize;
  .text;
}

.media__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  border-bottom: solid 1px @border-color;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 0;
  }
}

.media__card {
  @media (min-width: @tablet-width) {
    width: 50%;

    &:first-child {
      width: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 33.3%;

    &:first-child {
      width: 100%;
    }
  }
}
