.media__wrapper {
  margin-bottom: 17px;
}

.media__text-wrapper {
  padding: 0 20px 25px 20px;
  border-bottom: solid 1px @border-color;
}

.media__important-text {
  .title-position;
  .important-text;
}

.media__text {
  .text-normalize;
  .text;
}
