.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;

  &--close {
    display: none;
  }
}

.modal__wrapper {
  position: relative;
  margin: auto;
  background-color: @contrast-color;
  min-width: 320px;
}

.modal__text-wrapper {
  width: 244px;
  margin: 36px 39px 54px 37px;

  &--error {
    width: 237px;
    margin: 45px 42px 28px 41px;
  }
}

.modal__important-text {
  .title-position;
  .important-text;
}

.modal__text {
  .text-normalize;
  .text;
}

.modal__button-wrapper {
  background-color: @input-color;
  padding: 20px;
}

.modal__button {
  padding: 16px;
  min-width: 280px;
  margin: 0 auto;

  &--error {
    padding: 16px;
    min-width: 180px;
    margin: 0 auto 35px auto;
  }
}

@media (min-width: @tablet-width) {
  .modal__wrapper {
    min-width: 246px;

    &__wrapper--error {
      min-width: 400px;
    }
  }

  .modal__button {
    min-width: 458px;

    &--error {
      min-width: 272px;
    }
  }

  .modal__text-wrapper {
    width: 444px;
    margin: 51px 98px 54px 98px;

    &--error {
      width: 307px;
      margin: 45px 42px 28px 41px;
    }
  }
}
