.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;

  &--close {
    display: none;
  }
}

.modal__wrapper {
  position: relative;
  margin: auto;
  background-color: @contrast-color;
}

.modal__text-wrapper {
  padding: 35px 53px 0 53px;
  margin-bottom: 53px;

  &--error {
    padding: 45px 56px 0 56px;
    margin-bottom: 28px;
  }
}

.modal__important-text {
  .title-position;
  .important-text;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 21px;
  }
}

.modal__text {
  .text-normalize;
  .text;
}

.modal__tablet-break {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.modal__mobile-break::after {
  content: "\A";
  white-space: pre;
}

.modal__button-wrapper {
  background-color: @input-color;
  padding: 20px;
  display: flex;

  &--error {
    background-color: transparent;
    padding: 0 70px 35px 70px;
  }

  @media (min-width: @tablet-width) {
    padding: 44px 91px;

    &--error {
      padding: 0 65px 49px 65px;
    }
  }
}

.modal__button {
  padding: 16px;
  flex-grow: 1;
  font-size: 18px;

  &--error {
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .modal__text-wrapper {
    padding: 52px 113px 0 113px;
    margin-bottom: 53px;

    &--error {
      padding: 49px 61px 0 61px;
      margin-bottom: 48px;
    }
  }

  .modal__button {
    font-size: 21px;
    padding: 18px 0 14px 0;
  }
}
