.offering__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 44px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin: 0;
  }
}

.offering__item {
  margin: 0 18px;
  margin-top: 25px;
  padding-top: 8px;
  padding-left: 47px;
  background-repeat: no-repeat;

  &--house {
    background-image: url("../img/house.svg");

    @media (min-width: @tablet-width) {
      background-size: 77px auto;
    }
  }

  &--food {
    background-image: url("../img/food.svg");

    @media (min-width: @tablet-width) {
      background-size: 77px auto;
    }
  }

  &--souvenirs {
    background-image: url("../img/gift.svg");

    @media (min-width: @tablet-width) {
      background-size: 80px auto;
    }

    @media (min-width: @desktop-width) {
      background-size: 90px 80px;
    }
  }

  @media (min-width: @tablet-width) {
    flex: 1;
    margin: 58px 35px 63px 35px;
    padding: 0;
    padding-top: 103px;
    text-align: center;
    background-position: top center;
  }

  @media (min-width: @desktop-width) {
    margin: 66px 50px 70px 50px;
  }
}

.offering__title {
  .important-text;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    flex: 1;
    margin-bottom: 22px;
  }
}

.offering__tablet-break {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.offering__description {
  .text;
  margin: 0;
  color: @text-color;
}
