.offering__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin: 0;
  }
}

.offering__item {
  margin: 0 18px;
  margin-top: 25px;
  padding-top: 8px;
  padding-left: 47px;
  background-repeat: no-repeat;

  &--house {
    background-image: url("../img/house.svg");
  }

  &--food {
    background-image: url("../img/food.svg");
  }

  &--souvenirs {
    background-image: url("../img/gift.svg");
  }

  @media (min-width: @tablet-width) {
    flex: 1;
    margin: 60px 33px;
    padding: 0;
    padding-top: 98px;
    text-align: center;
    background-position: top center;
    background-size: auto 73px;
  }
}

.offering__title {
  .important-text;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    flex: 1;
    margin-bottom: 22px;
  }
}

.offering__description {
  .text;
  margin: 0;
  color: @text-color;
}
