.review__wrapper {
  margin: 0 20px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
    margin-bottom: 64px;
  }
}

.review__text-wrapper {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    padding: 0 106px;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 262px;
    margin-bottom: 40px;
  }
}

.review__important-text {
  .important-text;
  .title-position;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    font-size: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }
}

.review__text {
  .text;
  .text-normalize;
}
