.review__wrapper {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
    margin-bottom: 64px;
  }
}

.review__text-wrapper {
  padding: 36px 20px 28px 20px;

  @media (min-width: @tablet-width) {
    padding: 64px 106px 100px 106px;
  }

  @media (min-width: @desktop-width) {
    padding: 116px 262px 60px 262px;
  }
}

.review__important-text {
  .important-text;
  .title-position;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 31px;
  }
}

.review__text {
  .text;
  .text-normalize;
}
