.video-content {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0 60px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
  }
}

.video-content__text-wrapper {
  text-align: center;
  padding: 17px 25px 38px 25px;

  @media (min-width: @tablet-width) {
    padding: 58px 102px 90px 102px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 258px  92px 258px;
  }
}

.video-content__wrapper {
  position: relative;
}

.video-content__title {
  .important-text;
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.video-content__text {
  .text;
  margin: 0;
}

.video-content__link {
  display: block;

  &:hover .video-content__play-button {
    border-left-color: @contrast-color;
  }
}

.video-content__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -50%);
  height: 54px;
  width: 48px;
  padding: 0;
  background-color: transparent;
  border: 27px solid transparent;
  border-left: 48px solid fade(@contrast-color, 70%);

  &:hover {
    background-color: transparent;
  }
}

.video-content__wrapper:hover .video-content__play-button {
  border-left-color: @contrast-color;
}

.video-content__wrapper:active .video-content__play-button {
  border-left-color: fade(@contrast-color, 50%);
}

.video-content__image {
  width: 100%;
  height: auto;
}
