.card {
  padding: 25px 20px;
  border-bottom: solid 1px #e5e5e5;
}

.card__image {
  margin-bottom: 15px;
}

.card__title {
  margin: 0;
  font-weight: 700;
}

.card__description {
  margin: 0;
  margin-bottom: 11px;
  text-transform: none;
}

.card__liked-quantity {
  font-weight: 700;
}

.card__like-button {
  display: inline-block;
  width: 23px;
  height: 23px;
}
