.copyright__link {
  display: flex;
  align-items: center;

  text-decoration: none;

  &:hover .copyright__text {
    color: #81b3d2;
  }

  &:hover path {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active path {
    fill: #b3b3b3;
  }
}

.copyright__text {
  margin-right: 12px;
}
