.copyright {

  &__link {
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
  }

  &__text {
    margin-right: 12px;
  }

  &__link:hover {
    color: #81B3D2;

    path {
      fill: #81B3D2;
    }

  }

  &__link:active {
    color: #B3B3B3;

    path {
      fill: #B3B3B3;
    }

  }

}
