.main-header {
  width: 320px;
  min-height: 56px;

  &__logo {
    position: absolute;
    display: block;
    width: 185px;
    height: 96px;
    left: 67px;
  }

  &__toggle {
    cursor: pointer;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 17px;
    z-index: 2;
  }

  &__nav {
    position: absolute;
    top: 0;
    z-index: 1;
  }
}
