.offering {
  &__list {
    list-style: none;
    padding: 0;
    width: 284px;
    margin: 0 auto 46px auto;
  }

  &__item {
   padding-top: 25px;
   padding-left: 47px;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
  }

  &__description {
    margin: 0;
  }
}
