@import "main-header.less";
@import "visually-hidden.less";
@import "main-nav.less";
@import "hero.less";
@import "advantages.less";
@import "important-text.less";
@import "text.less";
@import "offering.less";
@import "hotel-search.less";
@import "button.less";
@import "main-footer.less";
@import "copyright.less";
@import "page-body.less";
@import "page.less";
@import "text-wrapper.less";
@import "social.less";
@import "review.less";
@import "filling-form.less";
@import "control-input.less";
@import "control-item.less";
@import "modal.less";
@import "media.less";
@import "card.less";
@import "video-content.less";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
