@main-color: #81B3D2;
@contrast-color: #ffffff;
@text-color: #333333;
@backgrounds-color: #eeeeee;
@input-color: #f2f2f2;
@border-color: #e5e5e5;
@dark-color: #000000;
@current-color: #766357;
@hover-color: #669ec0;
@active-color: #5496bd;
@disabled-color: #d5d5d5;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
